<footer class="container">
    <div class="row">
        <div class="col col-sm-12 col-lg-4">
            <h1 class="text-center">Síguenos</h1>
            <p class="text-center">Redes Sociales</p>
            <ul class="redes">
                <li class="logo-foot"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li class="logo-foot"><a href="#"><i class="fa-brands fa-instagram"></i ></a></li>
                <li class="logo-foot"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
        <div class="col col-sm-12 col-lg-4">
            <h1 class="text-center">Encuéntranos</h1>
            <p class="fst-italic text-center">Estamos ubicados en la siguiente dirección: </p>
            <iframe class="mapa-foot" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.630155191645!2d-74.95832192426235!3d10.991263655192833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42a9754fd4cf5%3A0x30b759bef917234f!2sCra.%2010%20%232-51%2C%20Puerto%20Colombia%2C%20Atl%C3%A1ntico!5e0!3m2!1ses-419!2sco!4v1723765612872!5m2!1ses-419!2sco" width="400" height="250" ></iframe>
            <p class="text-center msj2-foot"><i class="fa-solid fa-location-dot"></i> Cra. 10 #2-51 <br> <i class="fa-solid fa-location-dot"></i> Puerto Colombia - Atlántico</p>
        </div>
        <div class="col col-sm-12 col-lg-4">
            <h1 class="text-center">Buzón de Sugerencias</h1>
            <p class="text-center msj-foot">Déjanos saber cualquier inquietud que tuviste en nuestra tienda. </p>
            <form >
                <input class="input-suger"  type="text" placeholder="Introduce tu nombre" />
                <textarea class="text-suger" cols="30" rows="10" maxlength="500"  placeholder="Déjanos tu comentario, gracias."></textarea>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-outline-primary me-md-2" type="button">Enviar</button>
                  </div>
            </form>
        </div>
    </div>
    <div class="barra-footer">
        <p>&copy; Derechos Reservados - 2020</p>
    </div>
</footer>