<section class="reconocimiento-dos py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 py-5 order-2">
                <img src="home.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-6 ps-5 order-1">
                <h2 class="text-white">Somos <span class="text-warning">K-FIT🤜🤛</span></h2>
                <p>La tienda ideal para tus necesidades fitness💪</p>
                <p class="text-white">Lo que ofrecemos:<br>
                    ✅Equipos de gimnasio: Pesas, mancuernas, barras, kettlebells, bancos de pesas y más. <br>
                    ✅Ropa deportiva: Leggings, camisetas, tops y más, diseñados para darte la máxima comodidad y libertad de movimiento. <br>
                    ✅Suplementos: Proteínas, vitaminas, aminoácidos y más para potenciar tus resultados. <br>
                    ✅Accesorios: Bandas de resistencia, esterillas de yoga, guantes de entrenamiento y todo lo necesario para completar tu rutina.<br><br>

                    ¿Por qué elegirnos? <br> <br>
                        ✅ Calidad garantizada: Trabajamos solo con marcas líderes en el mercado.<br>
                        ✅ Asesoría personalizada: Si no sabes qué equipo o suplemento elegir, ¡te ayudamos!<br>
                        ✅ Precios competitivos: Obtén lo mejor sin romper tu presupuesto.<br>
                        ✅ Envíos rápidos: Recibe tus productos directamente en tu hogar.<br>
                </p>
                
            </div>
        </div>
    </div>
</section>
