<section class="reconocimiento-dos py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 py-5 order-2">
                <img src="noti1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-6 ps-5 order-1">
                <h2 class="text-white">Somos <span class="text-warning">K-FIT🤜🤛</span></h2>
                <p>La tienda ideal para tus necesidades fitness💪</p>
                <p class="text-white">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
                </p>
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
        </div>
    </div>
</section>
