<section>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="prod1.png" class="d-block w-100" alt="Producto 1">
          <div class="carousel-caption d-none d-md-block">
            <h5> </h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img5.jpg" class="d-block w-100" alt="Producto 2">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p> </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img6.jpg" class="d-block w-100" alt="Producto 3">
          <div class="carousel-caption d-none d-md-block">
            <h5> </h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img7.jpg" class="d-block w-100" alt="Producto 3">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="reconocimiento-dos py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 py-5 order-2">
                <img src="img1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-6 ps-5 order-1 ">
                <h2 class="text-white"><span class="text-warning">PROTEINAS🤜🤛</span></h2>
                <p>💪¡Transforma tu cuerpo con las mejores proteínas para el gym!💥</p>
                <p class="text-white">¿Buscas aumentar tu fuerza, mejorar tu rendimiento y lograr tus objetivos más rápido? ¡La proteína adecuada es tu aliada perfecta! 🔥

                  🧬 Proteínas de alta calidad para maximizar el crecimiento muscular. ⏱️ Fórmulas rápidas y efectivas para una recuperación más rápida después de entrenar. 🌱 Opciones veganas disponibles: Proteínas vegetales para todos los gustos.<br>
                  
                  ¿Por qué elegirnos?<br>
                  
                  Proteínas de suero, caseína, huevo y plantas.
                  Sin azúcares añadidos y sin gluten.
                  Sabores irresistibles que te motivarán a seguir entrenando.<br>
                  ✅ Ideal para deportistas, culturistas y quienes buscan un estilo de vida saludable.
                  
                  No esperes más para llevar tu entrenamiento al siguiente nivel. ¡Descubre la proteína que tu cuerpo necesita! 💥
                  
                  ¡Haz tu pedido ahora y aprovecha nuestras promociones exclusivas! 🚀
                </p>
                <button type="button" class="btn btn-warning">COMPRAR</button>
            </div>
        </div>
    </div>
</section>
<section class="reconocimiento-dos py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-6 py-5 order-1">
              <img src="img2.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-6 ps-5 order-2">
              <h2 class="text-white"><span class="text-warning">IMPLEMENTOS DEPORTIVOS💪🔩</span></h2>
              <p>¿quieres entrenar desde casa y no tienes herramientas? No te preocupes, nosotros nos encargamos🤝</p>
              <p class="text-white">🔧 Equipos de gimnasio de alta calidad para potenciar tu fuerza, resistencia y rendimiento. Desde pesas, mancuernas, kettlebells, hasta bandas de resistencia y mucho más.<br>

                Lo que tenemos para ti:
                
                Pesas ajustables: Perfectas para entrenar en casa.<br>
                Bandas de resistencia: Lleva tu entrenamiento de fuerza al siguiente nivel.<br>
                Ruedas para abdominales: Mejora tu core y definición.<br>
                Banco de pesas multifuncional: Haz todo tipo de ejercicios cómodamente.<br>
                ✅ Calidad premium a precios accesibles. <br>
                ✅ Envíos rápidos y seguros.<br><br>
                
                ¡Transforma tu espacio de entrenamiento! No importa si eres principiante o experto, tenemos todo lo que necesitas para entrenar como un profesional. 🏆
                
                
                🛒 Compra ahora y empieza a entrenar como un campeón. ¡No esperes más para tener el equipo que tu cuerpo necesita!
              </p>
              <button type="button" class="btn btn-warning">COMPRAR</button>
          </div>
      </div>
  </div>
</section>
<section class="reconocimiento-dos py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-6 py-5 order-2">
              <img src="img3.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-6 ps-5 order-1">
              <h2 class="text-white"> <span class="text-warning">OUTFIT K-FIT😉</span></h2>
              <p>✨ ¡Rinde con estilo! Los mejores outfits para tu entrenamiento 💪</p>
              <p class="text-white"> ¡Entrena con actitud y comodidad! 👟💥 <br>

                👚 Ropa deportiva de alta calidad que te brinda:<br>
                
                Comodidad total durante todo tu entrenamiento.
                Tejidos transpirables que mantienen tu piel fresca y seca.
                Diseños modernos y funcionales que se adaptan a tu cuerpo.
                Lo que tenemos para ti:
                
                Leggings y mallas que se ajustan a tu figura y ofrecen soporte durante tus rutinas más intensas.
                Top deportivos con soporte ideal para mantenerte firme sin perder estilo.
                Camisetas y sudaderas con tejidos ligeros y cómodos, perfectas para cualquier tipo de entrenamiento.
                Zapatillas de alto rendimiento que garantizan estabilidad y confort en cada paso.
                Con cada prenda, te sentirás más motivado y listo para dar lo mejor de ti. 😎<br><br>
                
                ✅ Diseños exclusivos para hombres y mujeres. <br>
                ✅ Colores y estilos para que encuentres el que más te guste.<br>
              
                🛒 Compra ahora y luce increíble en tu próxima rutina de gym. ¡No te lo pierdas!
              </p>
              <button type="button" class="btn btn-warning">COMPRAR</button>
          </div>
      </div>
  </div>
</section>
<hr>
<section class="reconocimiento-dos py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-6 py-5 order-1">
              <img src="img4.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-6 ps-5 order-2">
              <h2 class="text-white"><span class="text-warning">🏋️‍♂️ ¡Transforma tu cuerpo con la guía de un entrenador personalizado! 💪</span></h2>
              <p>¿necesitas ayuda con un profesional?</p>
              <p class="text-white">
                ¡No importa si eres principiante o ya llevas tiempo entrenando! Nuestro enfoque está pensado para adaptarse a tu nivel y tus objetivos.<br>
                ¡Nunca estarás solo! Te motivamos y acompañamos en cada paso de tu proceso. <br>
                ✅ Resultados más rápidos y efectivos: Con técnicas probadas y un enfoque individualizado, lograrás ver cambios reales.<br> 
                ✅ Asesoramiento nutricional: No solo te entrenamos, también te damos las claves para una alimentación saludable y balanceada.<br>
              </p>
              <button type="button" class="btn btn-warning">ADQUIRIR</button>
          </div>
      </div>
  </div>
</section>

  
  