body {
    background-color: black;
    color:white;
    box-sizing: border-box;
}

.saludo {
    text-align: center;
    margin-top: 60px;
}

.saludo2 {
    font-family: fantasy;
    font-size: 80px;
}

.saludo3 {
    font-size: smaller;
    font-family: monospace;
}

.form-registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top: 45px;
    border-radius: 4px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    box-shadow: 7px 13px 100px  white;
}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}

.form.registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-registro a {
    color: white;
    text-decoration: none;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
