  
    <section class="container-fluid mt-4 ">
      <div class="saludo">
          <h1 class="saludo2"><span style="color: red;">¡BIEN</span><span>VENI</span><span style="color: blue;">DOS!</span></h1>
          <p class="saludo3">VEN Y HAZ PARTE DE NUESTRO EQUIPO. <br>RECIBIRÁS NOTICIAS DE NUESTRAS PROMOCIONES Y DESCUENTOS.</p>
      </div>
    </section>
    <section class="form-registro">
      <form id="formulario-reg">
        <h4>Únete a K-Fit</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingresar nombres">
        <p id="mensaje-nombre" class="d-none">¡Campo incorreccto!</p>
        <p id="mensaje2" class="d-none">¡Campo correccto!</p>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingresar apellidos">
        <p id="mensaje-apellido" class="d-none">¡Campo incorreccto!</p>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresar correo">
        <p id="mensaje-correo" class="d-none">¡Campo incorreccto!</p>
        <input class="controls" type="text" name="telefono" id="telefono" placeholder="Número telefónico">
        <p id="mensaje-telefono" class="d-none">¡Campo incorreccto!</p>
        <input type="checkbox"> Estoy de acuerdo con <a href="#">Terminos y condiciones.</a>
        <input class="boton" type="submit" value="Registrarme">
        <p><a href="#">¡Ya tengo cuenta!</a></p>
      </form>
      
   </section>   
   
    
