  
    <section class="container-fluid mt-4 ">
      <div class="saludo">
          <h1 class="saludo2"><span style="color: red;">¡BIEN</span><span>VENI</span><span style="color: blue;">DOS!</span></h1>
      </div>
    </section>
    <section>
      <h2 class="titulo2">🔩PROMOCIONES🔩</h2>
    </section>
    <section>
      <div class="container-fluid text-center servicios">
        <div class="row">
            <div class="col col-sm-12 col-lg-4 ">
                <div class="card">
                    <img src="prom1.jpg" alt="" class="card-img">
                        <div class="card-img-overlay">
                            <p class="card-text" style="color: burlywood;">Máquina MS-641S <br> 10% Descuento <br> $ 2'150.0000</p>
                            <button type="button" class="btn btn-warning">Comprar</button>
                        </div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-4 ">
                <div class="card">
                    <img src="prom2.jpg" alt="" class="card-img">
                        <div class="card-img-overlay">
                            <p class="card-text" style="color: burlywood;">Combo de Accesorios: poleas, agarres y equipos <br> 15% Descuento <br> $ 120.000</p>
                            <button type="button" class="btn btn-warning">Comprar</button>
                        </div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-4 ">
                <div class="card">
                    <img src="prom3.jpg" alt="" class="card-img">
                        <div class="card-img-overlay">
                            <p class="card-text" style="color: burlywood;">Creatine Pre Load <br>15% Descuento <br> $ 245.000</p>
                            <button type="button" class="btn btn-warning">Comprar</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="saludo">
      <p class="saludo3">VUÉLVETE CLIENTE PREMIUM <br>RECIBIRÁS NOTICIAS DE NUESTRAS PROMOCIONES Y DESCUENTOS.</p>
    </div>
    <section class="form-registro">
      <form id="formulario-reg">
        <h4>Únete a K-Fit</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingresar nombres">
        <p id="mensaje-nombre" class="d-none">¡Campo incorreccto!</p>
        <p id="mensaje2" class="d-none">¡Campo correccto!</p>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingresar apellidos">
        <p id="mensaje-apellido" class="d-none">¡Campo incorreccto!</p>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresar correo">
        <p id="mensaje-correo" class="d-none">¡Campo incorreccto!</p>
        <input class="controls" type="text" name="telefono" id="telefono" placeholder="Número telefónico">
        <p id="mensaje-telefono" class="d-none">¡Campo incorreccto!</p>
        <input type="checkbox"> Estoy de acuerdo con <a href="#">Terminos y condiciones.</a>
        <input class="boton" type="submit" value="Registrarme">
        <p><a href="#">¡Ya tengo cuenta!</a></p>
      </form>  
   </section>

   
    
